@import 'baseStyle';

.header {
  margin-bottom: 1.45rem;
  background: $c-primary;
}

.header-wrapper {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  max-width: 960px;
}

.header-title {
  margin: 0;
}

.header-link {
  text-decoration: none;
  color: white;
}
